
<div class="container justify-content-start mt-3">

<!-- Display errors, if any -->
  <%= render 'shared/errorMessages', object: @article %>

  <!-- Display article submission form -->
  <%= form_with(model: @article, local: true, class: "card p-3 bg-dark shadow text-light") do |f| %>
    <div class="form-group card-body">
        <%= f.label :title, class: "card-title form-label h4" %>
        <%= f.text_field :title, class: "form-control col-10 shadow-lg", placeholder: "Enter article title" %>
    </div>

    <div class="form-group card-body">
      <%= f.label :description, class: "h4 card-title" %>
      <%= f.text_area :description, rows: 10, class: "form-control col-10 shadow-lg", placeholder: "Write your next novel..." %>
    </div>

    <div class="form-group card-body">
      <%= f.label :category, class: "h4 card-title" %>
      <%= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "Make a selection (multiple allowed)"}, {multiple: true, class: 'custom-select col-10 shadow-lg'}) %>
    </div>

    <div class="form-group card-body">
      <div class="row">
        <div class="col">
          <%= f.submit class: "btn btn-outline-light"%>
          <%= link_to 'Cancel', articles_path, class: "ml-3 btn btn-outline-info text-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>