

<div class="container mt-4">

  <div class="d-flex flex-column">
    <% @articles.each do |article| %>
      
      <!-- Row -->
      <div class="row mt-4">

        <!-- Column -->
        <div class="col-10 d-flex flex-column mx-auto">

          <!-- Card -->
          <div class="card">

            <!-- Card Body -->
            <div class="card-body">
              <h4 class="card-title"> <%= article.title %> </h4>
              <p class="card-subtitle mb-2 ">Date: <%= article.created_at.to_time %> </p>
              <p class="card-subtitle mb-2 ">Author: <%= link_to "#{article.user.username}", user_path(article.user.id), class: "text-primary" %> </p>
              <hr class="bg-dark">
              <p class="card-text"> <%= truncate(article.description, length: 500) %> </p>
              <%= link_to 'Read More', article_path(article), class: "btn btn-sm btn-outline-secondary shadow" %>
              <hr class="bg-dark">
              <div class="container text-right">
                <%= link_to 'Edit', edit_article_path(article), class: "text-white btn btn-info btn-sm", role: "button"%>
                <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "text-white btn btn-sm btn-danger", role: "button" %>
              </div>
            </div>
            <!-- Card Body -->

          </div>
          <!-- Card -->

        </div>
        <!-- Column -->

      </div>
      <!-- Row -->

    <% end %>
  </div>
</div>
<!-- Container -->

