<div class="container">
  <div class="d-flex flex-column">

      <!-- Row -->
      <div class="row mt-4">

        <!-- Column -->
        <div class="col mx-auto">

          <!-- Card Content -->
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h1 class="card-title"><%= @article.title%></h1>
                </div>
              </div>
                <div class="row">
                  <div class="col">
                    <div class="card-subtitle">Date: <%= @article.created_at.to_time %></div>
                    <div class="card-subtitle">Author: <%= link_to @article.user.username,  user_path(@article.user), class: "text-primary" %></div>
                    <%= link_to show_user_picture_for(@article.user), user_path(@article.user) %>
                  </div>
                </div>
              <hr class="bg-dark">
              <p class="card-text"><%= simple_format(@article.description) %></p>
            </div>
          </div>
          <!-- Card Content -->

        </div>
        <!-- Column -->

      </div>
      <!-- Row -->

  
    <!-- Row -->
    <div class="row mt-3">
      <div class="col">
        <%= link_to 'Back', articles_path, class: "btn btn-secondary text-white bg-dark" %>
      </div>
      <div class="col text-right">
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-info text-white" %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete \"#{@article.title}\"?"}, class: "btn btn-danger text-white" %>
      </div>
    </div>
  </div>


</div>