<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow rounded">
    <%= link_to "Portraits  |", root_path, class: "navbar-brand mb-0" %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
          <%= link_to(root_path, class: "nav-link h5 mt-2 text-light") do %>
            <%= "Home" %> <span class="sr-only">/span>
          <% end %>
				</li>
				<li class="nav-item">
          <%= link_to(articles_path, class: "nav-link h5 mt-2 text-light") do %>
            <%= "Articles" %>
          <% end %>
        <li class="nav-item">
          <%= link_to(users_path, class: "nav-link h5 mt-2 text-light") do %>
            <%= "Authors" %>
          <% end %>
				</li>
				</li>
				<li class="nav-item">
          <%= link_to(about_path, class: "nav-link h5 mt-2 text-light") do %>
            <%= "About" %>
          <% end %>
			</ul>

      <!-- Login/logout buttons depending on session parameters -->
      <ul class="navbar-nav">
        <% if logged_in? %> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h6 text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
            </a>
            <div class="dropdown-menu bg-dark shadow-lg" aria-labelledby="navbarDropdown">
              <%= link_to 'My Profile', user_path(current_user), class: "dropdown-item text-light" %>
              <%= link_to 'New Article', new_article_path, class: "dropdown-item text-light" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Logout', logout_path, class: "dropdown-item text-light", method: :delete %>
              <%= link_to 'Delete Account', user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          </li>
        <!--
          <%= link_to 'Logout', logout_path, class: "btn btn-info text-white rounded shadow mr-2", method: :delete %>
          <%= link_to current_user.username, user_path(current_user), class: "btn btn-secondary text-white rounded shadow mr-2" %>
        -->
        <% else %>
          <%= link_to 'Login', login_path, class: "btn btn-light rounded shadow mr-2" %>
          <%=  link_to "Sign Up", signup_path, class: "btn btn-secondary shadow rounded text-white mr-2" %> 
        <% end %>
        </ul>
		
    </div>
	</nav>
